/engine_1/engine.exe
/engine_2/engine.exe
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/results.txt
/.idea/vcs.xml
/.idea/ChessGUI.iml
/.idea/.gitignore
/engine_versions/
/results_backup/
